# https://github.com/donDonald/devops
# Pavel Taranov
# pavel.a.taranov@gmail.com

  - job_name: '{{ job_name }}'
    scrape_interval: 10s
    dns_sd_configs:
      - names:
{% for target in targets %}
        - '{{ target }}'
{% endfor %}
        type: 'A'
        port: {{ port }}

