# https://github.com/donDonald/devops
# Pavel Taranov
# pavel.a.taranov@gmail.com

  - name: '{{ name }}'
    type: '{{ type }}'
    access: proxy
    orgId: 1
    url: http://{{ source }}:{{ port }}
    basicAuth: false
    isDefault: true
    editable: true

